*{
    margin: 0;
}

@font-face{
    font-family: "poppins";
    src:url('./Assets/Font/Poppins-Regular.ttf')
}

@font-face{
    font-family: "lemonmilk-regular";
    src:url('./Assets/Font/LEMONMILK-Regular.otf')
}

body,button{
    font-family: var(--poppin);
}
body{
background-color: #06071c !important;
}
:root {
    --p: 15px;
    --lemon:"lemonmilk-regular";
    --poppin:"poppins";
    --linear: linear-gradient(45deg, #03affe , #9359d5);
    --head:40px;
}

.btn_image{
    padding: 12px 30px;
    color: white;
    background:url('./Assets/img/loginbtn.png');
    background-size: 100% 100%;
    cursor: pointer;
    border:none;
    font-size: 15px;
    font-family: var(--poppin);
}

Link,a{
    text-decoration: none !important;
    outline: none;
}